<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./public/js/jquery.min.js"></script>
  <script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 3.75 + 'px';
  </script>
  <title>公共底部 - 猪先生</title>
</head>

<body>
  <div id="footer" class="footer">
    <div class="foot__top">
      <ul class="ft-links">
        <li class="link"><a href="javascript:;">公司介绍</a></li>
        <li class="sep"></li>
        <li class="link"><a href="javascript:;">会员专区</a></li>
        <li class="sep"></li>
        <li class="link"><a href="javascript:;">饮食指南</a></li>
        <li class="sep"></li>
        <li class="link"><a href="javascript:;">热门资讯</a></li>
      </ul>
      <div class="foot__center">
        <div class="fl foot-concat">
          <p>24小时客户电话：18318672677</p>
          <p>举报邮箱：980532249@qq.com</p>
          <p>违反不良信息举报电话：</p>
          <p>0755-2357-7167</p>
        </div>
        <div class="fr foot-qrcode">
          <div class="qr-item">
            <div class="code-img"></div>
            <span class="code-desc">加入微信会员群</span>
          </div>
          <div class="qr-item">
            <div class="code-img"></div>
            <span class="code-desc">关注微信公众号</span>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <span>©️2019 猪先生农业有限公司版权所有</span>
    </div>
  </div>
</body>

</html>