<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 3.75 + 'px';
  </script>
  <title>公司介绍 - 猪先生</title>
</head>

<body>
  <div id="app resume" class="resume">
    <div class="banner-wrap"></div>
    <div class="mainContent">
      <div class="about-us">
        <h6>源自香港 服务全国客服</h6>
        <p>猪先生是有家控股旗下自营到社区拼团式生鲜零售平台，主要提供的产品有蔬菜、豆制品、水果、肉禽蛋、水产海鲜、米面粮油等。</p>
      </div>
      <div class="recommend-cate">
        <div class="hrc-row">
          <div class="hrc-col">
            <div class="hrc-item row-2">
              <a href="javascript:;">
                <img :src="baseUrl + '/uploads/admin/images/20191031/cb1662b52eac8c6707ea742e2ae31ad5.jpg'" alt />
                <p class="hi-name">新鲜水果</p>
              </a>
            </div>
          </div>
          <div class="hrc-col">
            <div class="hrc-row">
              <div class="hrc-item">
                <a href="javascript:;">
                  <img :src="baseUrl + '/uploads/admin/images/20191107/6142f198ea658934e0b987b45a0dad72.jpg'" alt />
                  <p class="hi-name">海鲜水产</p>
                </a>
              </div>
            </div>
            <div class="hrc-row">
              <div class="hrc-item">
                <a href="javascript:;">
                  <img :src="baseUrl + '/uploads/admin/images/20191030/4a91cf69a864f0d3fd289b8d36ef6147.jpg'" alt />
                  <p class="hi-name">精选肉类</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="hrc-row">
          <div class="hrc-col">
            <div class="hrc-item">
              <a href="javascript:;">
                <img :src="baseUrl + '/uploads/admin/images/20191107/6142f198ea658934e0b987b45a0dad72.jpg'" alt />
                <p class="hi-name">冷冻饮食</p>
              </a>
            </div>
          </div>
          <div class="hrc-col">
            <div class="hrc-item">
              <a href="javascript:;">
                <img :src="baseUrl + '/uploads/admin/images/20191031/bcf2667850dc7ab0ffe5cb48d2e15464.jpg'" alt />
                <p class="hi-name">蔬菜蛋类</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="about-mode">
        <h6>猪先生采用线上+线下运营模式——</h6>
      </div>
      <div class="mode-wrap">
        <div class="mw-item">
          <p class="mi-intro">线上，猪先生采用拼团式直销模式。客户可通过发起和朋友、家人、邻居等的拼团，以更低的价格，拼团购买商品。猪先生承诺，对所有商品提供“0配送费，最快20分钟送货上门”的配送服务。</p>
          <div class="mi-img"></div>
        </div>
        <div class="mw-item">
          <div class="mi-img"></div>
          <p class="mi-intro">线下，猪先生在各个小区拥有环境优美、服务一流的实体门店，客户可直接进店选购产品，并可享受到折扣、抽奖、免费配送、上门提货等服务。</p>
        </div>
      </div>
      <div class="about-promise">
        <h6>我们承诺</h6>
        <p style="text-align: justify;">猪先生希望为消费者打造社区化的、拼团式的一站式新零售体验中心。在经营理念上，猪先生坚持诚信经营，绝不卖隔夜菜和无安全保障的食品，并坚持回馈社会，例如会把每年企业利润的10%捐给社会。</p>
      </div>
      <div class="promise-wrap">
        <div class="pw-item"></div>
        <div class="pw-item"></div>
        <div class="pw-item"></div>
        <div class="pw-item"></div>
        <div class="pw-item"></div>
      </div>
    </div>
  </div>
</body>

</html>