<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./public/css/swiper.min.css">
  <script src="./public/js/jquery.min.js"></script>
  <script src="./public/js/swiper.min.js"></script>
  <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 3.75 + 'px';
  </script>
  <title>新闻详情 手机端</title>
</head>

<body>
  <div id="app" class="news_detail">
    <div class="head">
      <div class="h-btn btn-back fl">
        <a href="javascript:;">
          <i class="iconfont">&#xe6f4;</i>
        </a>
      </div>
      <h5 class="h-tit">猪先生</h5>
      <div class="h-btn btn-share fr" data-mshare="0">
        <a href="javascript:;">
          <i class="iconfont">&#xe62f;</i>
        </a>
      </div>
    </div>
    <div class="main" id="main">
      <!-- 中部新闻详情内容 -->
      <div class="main_content" id="mainContent"></div>

      <div class="related">
        <div class="tit">相关推荐</div>
        <!-- 底部相关推荐 -->
        <div class="related-list" id="Recommend"></div>
      </div>
    </div>
  </div>
</body>

</html>