html,
body,
.news_detail {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}

.news_detail {
  position: relative;

  .head {
    position: absolute;
    top: 0;
    left: 0;
  }

  .main {
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
  }
}

.head {
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  background: #fff;
  justify-content: space-between;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #ccc;
    transform: scaleY(0.5);
  }

  .h-btn {
    position: absolute;
    top: 0;

    a {
      display: block;
      padding: 0 10px;
    }
  }

  .fl {
    left: 0;
  }

  .fr {
    right: 0;
  }

  .h-tit {
    margin: 0 44px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }
}

.main_content {
  padding: 10px;
  background: #fff;

  .title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    color: #333;
  }

  .news_info {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #999;
    overflow: hidden;

    span {
      float: left;
      margin-right: 25px;

      i {
        margin-right: 10px;
      }
    }
  }
}

.related {
  margin-top: 6px;
  background: #fff;

  .tit {
    position: relative;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #333;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      border-top: 1px solid #ccc;
      transform: scaleY(0.5);
    }
  }
}

.rl-item {
  position: relative;
  padding: 10px;
  display: flex;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #ccc;
    transform: scaleY(0.5);
  }

  &:last-child {
    &::after {
      content: none;
    }
  }

  .news-feature {
    flex-shrink: 0;
    position: relative;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
    }
  }

  .news-txt {
    padding: 5px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .news-tit {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: normal;
      color: #333;
      @include text_ellipsis(1);
    }

    .news-info {
      overflow: hidden;
      font-size: 12px;
      color: #999;

      span {
        float: left;
        margin-right: 25px;

        i {
          margin-right: 10px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .news-desc {
      font-size: 12px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      color: #666;
    }
  }
}

//重定义新闻详情样式
.article {
  p {
    margin-bottom: 15px !important;
  }

  p,
  span {
    font-size: 14px !important;
    height: 100%;
  }

  img {
    width: 100% !important;
  }
}

@include lord_modal();