<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./public/css/swiper.min.css">
  <script src="./public/js/jquery.min.js"></script>
  <script src="./public/js/swiper.min.js"></script>
  <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 3.75 + 'px';
  </script>
  <title>新闻详情 手机端</title>
</head>

<body>
  <div id="app" class="news_detail">
    <div class="head">
      <div class="h-btn btn-back fl">
        <a href="javascript:;">
          <i class="iconfont">&#xe6f4;</i>
        </a>
      </div>
      <h5 class="h-tit">猪先生</h5>
      <div class="h-btn btn-share fr">
        <a href="javascript:;">
          <i class="iconfont">&#xe62f;</i>
        </a>
      </div>
    </div>
    <div class="main" id="main">
      <div class="main_content" id="mainContent">
        <h1 class="title">深化金砖伙伴关系，携手维护多边主义</h1>
        <div class="news_info">
          <span><i class="iconfont">&#xe663;</i>猪先生</span>
          <span><i class="iconfont">&#xe675;</i>2019-11-05</span>
        </div>
        <div class="article">
          金砖国家领导人第十一次会晤将于11月13日至14日在巴西利亚举行。回首5年前，在巴西福塔莱萨会晤上，新开发银行、应急储备安排等机制正式成立，成为金砖合作靓丽的名片。5年后的今天，金砖峰会再次走进美丽富饶的拉美大陆，走进充满活力的“足球王国”，引起了国际社会广泛关注和期待。
        </div>
      </div>

      <div class="related">
        <div class="tit">相关推荐</div>
        <div class="related-list">
          <div class="rl-item">
            <div class="news-feature">
              <img src="http://192.168.0.105/uploads/admin/images/20191104/546571570486ef3c3a16adc87bc8f592.jpeg"
                alt="">
            </div>
            <div class="news-txt">
              <div>
                <h3 class="news-tit"><a href="javascript:;">电商卖房，全速竞逐“双十一”</a></h3>
                <div class="news-info">
                  <span><i class="iconfont">&#xe663;</i>猪先生</span>
                  <span><i class="iconfont">&#xe675;</i>2019-11-05</span>
                </div>
              </div>
              <p class="news-desc">记者从兰州海关获悉，日前，900公斤秦安蜜桃经兰州海关“秒放行”空运出口新加空运出口新加空运出口新加空运出口新加空运出口新加</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>